/Sorting1/nbproject/private/
/Sorting1/build/
/Gerador/nbproject/private/
/Gerador/build/
/Sorting2/nbproject/private/
/Sorting2/build/
/ClassificacaoNBA/nbproject/private/
/ClassificacaoNBA/build/
/MergeSortTeste/nbproject/private/
/MergeSortTeste/build/
/Sorting3/nbproject/private/